<alert type="success">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>


<h1 class="text-center">Welcome to openlayers world</h1>

<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    ngx dropdown <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#" (click)="setCenter()">Set center</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Mark</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Want to go</a>
    </li>
  </ul>
</div>


<app-ol-map class="map"
  [center]="center"
  [zoom]="5"
  (mapReady)="onMapReady($event)"
></app-ol-map>
